﻿body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #f5f5f5;
}

.header {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background-color: #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
}


.note {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border: 1px solid #ccc;
    margin: 20px 0;
    padding: 15px 20px;
    background-color: #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}


.note-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 40px;
}

.note-date {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
    position: absolute;
    margin-top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.note-content {
    background-color: #fff;
    padding: 5px;
    margin: 5px 0;
}

.note-actions {
    float: right;
    display: flex;
    gap: 10px;
}

.note-count {
    margin-right: 20px;
}

footer {
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 15px 0;
    background-color: #ddd;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 7px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;

}

button {
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #eee;
    }


.note-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}



.note-date {
    margin-left: 15px;
}

.label-counter {
    margin-right: 20px;
}

.new-note-button {
    margin-left: 20px;
    background-color: #fff;
    color: #000; 
}

.container {
    width: 90%;
    margin: 0 auto; 
}

.search-input {
    width: 125%;
    margin: 0 auto;
}

