﻿@inherits LayoutComponentBase

<PageTitle>NotesAppBlazor</PageTitle>

<div class="page">

    <main>
              <article class="content px-4">
            @Body
        </article>
    </main>
</div>
