﻿@page "/confirmdelete/{Id:int}"

@inject NoteService noteService
@inject NavigationManager navigationManager

<h3>Підтвердження</h3>
<p>Ви впевнені, що хочете видалити цю нотатку?</p>
<button @onclick="Delete">Так</button>
<button @onclick="Cancel">Ні</button>

@code {
    [Parameter]
    public int Id { get; set; }  

    async Task Delete()
    {
        if (Id != -1)
        {
            await noteService.DeleteNote(Id);
            navigationManager.NavigateTo("/");
        }
        
    }

    void Cancel()
    {
        navigationManager.NavigateTo("/");
    }
}
