﻿@inject NoteService noteService
@inject NavigationManager navigationManager

@page "/createnotes"

<h3>Create Note</h3>

<label>Title:</label>
<input @bind="NewNote.Title" />
<label>Content:</label>
<textarea @bind="NewNote.Content"></textarea>
<button @onclick="@SaveNote">Save</button>

@code {
    public Note NewNote { get; set; }

    public CreateNotes()
    {
        NewNote = new Note();
    }
    async Task SaveNote()
    {
        await noteService.AddNote(NewNote);
        navigationManager.NavigateTo("/");
    }
}
