﻿@page "/editnote/{Id:int}" 


@inject NoteService noteService
@inject NavigationManager navigationManager

<h3>Edit Note</h3>

@if (Note == null)
{
        <p>Loading...</p>
}
else
{
        <label>Title:</label>
        <input @bind="Note.Title" />
        <label>Content:</label>
        <textarea @bind="Note.Content"></textarea>
        <button @onclick="UpdateNote">Update</button>
}

@code {
    public Note Note { get; set; }

    [Parameter]
    public int Id { get; set; }

    public EditNotes()
    {
        Note = new Note();
    }
    protected override async Task OnInitializedAsync()
    {
        var response = await noteService.GetNoteById(Id);
        if (response.Status == Status.OK)
        {
            Note = response.Data;
        }
    }


    async Task UpdateNote()
    {
        await noteService.UpdateNote(Note);
        navigationManager.NavigateTo("/");
    }
}
