﻿@inject NoteService noteService
@inject NavigationManager navigationManager
@page "/"


<div class="header">
    <button class="new-note-button" @onclick="CreateNote">New note</button>
    <form class="search-form" @onsubmit="SearchNotes">
        <input class="search-input" @bind="searchQuery" placeholder="Enter search item" />
        <button type="submit" style="display: none;"></button>
    </form>
    <label class="label-counter">Total notes: @Notes?.Count</label>
</div>


<div class="container">
    @if (Notes == null)
    {
        <p>No notes</p>
    }
    else if (Notes.Count > 0)
    {
        @foreach (var note in Notes)
    {
        <div class="note">
            <div class="note-details">
                <h4 class="note-title">@note.Title</h4>
                <div class="note-date">@GetTimeAgo(note.Created)</div>
                <div class="note-buttons">
                    <button @onclick="() => ToggleContent(note)">
                        @(note.IsExpanded ? "Hide Note" : "View Note")
                        </button>                   
                    <button @onclick="() => EditNote(note.Id)">Edit</button>
                    <button @onclick="() => DeleteNote(note.Id)">Delete</button>
                </div>
            </div>
            @if (note.IsExpanded)
            {
                    <div class="note-content">@note.Content</div>
            }
        </div>
    }
}
else
{
        <p>No notes found.</p>
}
</div>


<footer>
    <p>4Notes: anonymous notes sharing</p>
</footer>


@code {
    public List<Note> Notes { get; set; }
    private string? searchQuery;

    public Index()
    {
        Notes = new List<Note>();

    }

    protected override async Task OnInitializedAsync()
    {
        var response = await noteService.GetAllNotes();
        if (response.Status == Status.OK && response.Data != null)
        {
            Notes = response.Data;
            foreach (var note in Notes)
            {
                note.IsExpanded = false;
            }
        }
    }


    void ToggleContent(Note note)
    {
        note.IsExpanded = !note.IsExpanded;
    }

    void CreateNote()
    {
        navigationManager.NavigateTo("/createnotes");
    }

    void EditNote(int id)
    {
        navigationManager.NavigateTo($"/editnote/{id}");
    }

    void DeleteNote(int id)
    {
        navigationManager.NavigateTo($"/confirmdelete/{id}");
    }

    async Task SearchNotes()
    {
        var response = await noteService.SearchNotes(searchQuery);
        if (response.Status == Status.OK && response.Data != null)
        {
            Notes = response.Data;
        }
        searchQuery = string.Empty;
    }


    string GetTimeAgo(DateTime date)
    {
        return date.FormatDate();
    }
  
}
